@model IEnumerable<Librerias.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@if (@ViewBag.msj != null)
{
    <div>
        <div class="alert alert-success">
            @ViewBag.msj
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreLibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLibro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreLibro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPublicacion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdLibro })
                </td>
            </tr>
        }
    </tbody>
</table>
