@model Autores.Web.Models.ViewModels.AutoresViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="margin-left:1%">

    @Html.ActionLink("Volver", "Index")
</div>
@using (Html.BeginForm("Edit", "Autores", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.IdAutor)
            <div class="col-md-3">
                @Html.LabelFor(d => d.Documento)
                @Html.TextBoxFor(d => d.Documento, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Documento, null, new { @class = "red" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(d => d.Nombres)
                @Html.TextBoxFor(d => d.Nombres, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombres, null, new { @class = "red" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(d => d.Apellidos)
                @Html.TextBoxFor(d => d.Apellidos, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Apellidos, null, new { @class = "red" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(d => d.Correo)
                @Html.TextBoxFor(d => d.Correo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Correo, null, new { @class = "red" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(d => d.Celular)
                @Html.TextBoxFor(d => d.Celular, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Celular, null, new { @class = "red" })
            </div>

        </div>


    </div>
    <div class="row" style="margin-left:2%;">
        <br />
        <input value="Guardar" class="btn btn-primary" type="submit" />
    </div>
}
